<% provide(:title, 'About us')%>
<h1>About us</h1>
<p>
	The <a href="http://railstutorial.org">Ruby on Rails Tutorial</a>
	is a projet to make a book and screencast to teach web development 
	with <a href="http://rubyonrails.org">ruby on Rails</a>. This 
	is the sample application for the tutotirial.
</p>

