<% provide(:title, 'Help')%>
<h1>Help</h1>
<p>
	Get help on Ruby on Rails Tutotorial at the 
	<a href="htpp://ralstutorial.org/help">Rails tutorial help page</a>
	To get help on sample app, see the 
	<a href="http://railstoturial.org/book/">Rail Tutotrial book</a>
</p>
